.custom-card {
    border: 1px solid #e8e8e8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  
    &:hover {
      transform: scale(1.05);
    }
  }
  
  .card-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 200px; /* Establece la altura máxima de la imagen */
  }
  
  .card-content {
    padding: 16px;
  }
  
  .card-button {
    text-align: center;
    padding: 16px;
  }
  