/* custom-tree.css */

.node__root > circle {
    fill: #4A2AA9;
    r: 20;
  }
  
  .node__branch > circle {
 
    r: 20;
  }
  
  .node__leaf > circle {
    fill: #4A2AA9;
    r: 20;
  }

  .rd3t-node {
    cursor: pointer;
    fill: #8e68ff!important;
    stroke: #ffffff!important;
    stroke-width: 2;
    background-image: url('https://ultraglobal.io/avatar/user.png')!important;
    /* Añade otras propiedades de estilo según sea necesario */
}

.rd3t-label__title {
    fill: #000!important;
    stroke: none!important;
    font-weight: bolder!important;
    font-size: 25px!important;
    font-weight: 700!important;
}